# Week 2 Notebook 4 Data Wrangling with Pandas

Nama : Yulinda Rizky Angelia Mursalim

NIM : E1E121017

## Exercises

Let's try out these data wrangling operations with the Iris dataset.

You should have downloaded the iris_csv.csv dataset into your working directory from the previous exercise.

In [1]:
import pandas as pd

In [3]:
irisdf = pd.read_csv('iris_csv.csv')

**Q1. Missing Values**

Check if there are any missing values in the `irisdf` data set.

In [4]:
are_missing_values = irisdf.isna().any()
print(are_missing_values)

sepallength    False
sepalwidth     False
petallength    False
petalwidth     False
class          False
dtype: bool

**Q2. Find Duplicates**

There are three duplicate rows, display the rows.

In [5]:
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

**Q3. Calculate Mean**

Find the mean `sepallength` and store it in a variable called `mean_sepallength`

In [15]:
mean_sepallength = irisdf['sepallength'].mean()
print(mean_sepallength)

5.8564625850197585

**Q4. Set Value**

Set the `sepallength` of the row with index 34 to the mean value found.

In [21]:
mean_sepallength = irisdf['sepallength'].mean()
irisdf.loc[34, 'sepallength'] = mean_sepallength
duplicate_rows = irisdf[irisdf.duplicated()]
print(duplicate_rows)

     sepallength  sepalwidth  petallength  petalwidth           class
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

Check whether the number of duplicate rows has decreased by displaying the duplicated rows again. You can execute your answer to Q2 again)

**Q5. Drop Duplicates**

Drop the rows with duplicates

In [17]:
irisdf_no_duplicates = irisdf.drop_duplicates()
print(irisdf_no_duplicates)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[148 rows x 5 columns]

Now check if there are any more duplicate values by running your answer to Q2 again.

**Q6. Set as NA**

Set the `sepalwidth` of the row with index 34 to `pd.NA` (which is pandas for NULL value)

In [22]:
irisdf.loc[34, 'sepalwidth'] = pd.NA
row_34 = irisdf.loc[34]
print(row_34)

sepallength       5.849622
sepalwidth            <NA>
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

We should be able to view the contents of the row with index 34 using the `loc` attribute:

In [23]:
irisdf.loc[34]

sepallength       5.849622
sepalwidth            <NA>
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

**Q7. Find Rows with Missing Values**

Find the rows with *any* NA values

In [24]:
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)

    sepallength sepalwidth  petallength  petalwidth        class
34     5.849622       <NA>          1.5         0.1  Iris-setosa

**Q8. Drop Rows with Missing Values**

Now drop the rows with missing values with the argument `inplace = True`

In [28]:
irisdf.dropna(inplace=True)
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)

Empty DataFrame
Columns: [sepallength, sepalwidth, petallength, petalwidth, class]
Index: []

Check whether there are any more rows with NA values by running your answer to Q7 again.